.airlineslogo {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../img/airlineslogo.png) no-repeat 0 100px;
    vertical-align: middle;
}

.airlineslogo-MU {
    background-position: 0 2px;
}

.airlineslogo-CA {
    background-position: 0 -61px;
}

.airlineslogo-CZ {
    background-position: 0 -132px;
}

.airlineslogo-FM {
    background-position: 0 -206px;
}

.airlineslogo-ZH {
    background-position: 0 -271px;
}

.airlineslogo-MF {
    background-position: 0 -341px;
}

.airlineslogo-HU {
    background-position: 0 -415px;
}

.airlineslogo-8L {
    background-position: 0 -491px;
}

.airlineslogo-3U {
    background-position: 0 -561px;
}

.airlineslogo-SC {
    background-position: 0 -641px;
}

.airlineslogo-8C {
    background-position: 0 -712px;
}

.airlineslogo-HO {
    background-position: 0 -783px;
}

.airlineslogo-BK {
    background-position: 0 -851px;
}

.airlineslogo-EU {
    background-position: 0 -924px;
}

.airlineslogo-G5 {
    background-position: 0 -992px;
}

.airlineslogo-KN {
    background-position: 0 -1074px;
}

.airlineslogo-NX {
    background-position: 0 -1150px;
}

.airlineslogo-PN {
    background-position: 0 -2673px;
}

.airlineslogo-UO {
    background-position: 0 -1245px;
}

.airlineslogo-GS {
    background-position: 0 -1333px;
}

.airlineslogo-VD {
    background-position: 0 -1420px;
}

.airlineslogo-CN, .airlineslogo-H4 {
    background-position: 0 -1518px;
}

.airlineslogo-NS {
    background-position: 0 -1612px;
}

.airlineslogo-JD {
    background-position: 0 -1682px;
}

.airlineslogo-JR {
    background-position: 0 -1755px;
}

.airlineslogo-KY {
    background-position: 0 -1824px;
}

.airlineslogo-TV {
    background-position: 0 -1887px;
}

.airlineslogo-HX {
    background-position: 0 -1961px;
}

.airlineslogo-CJ {
    background-position: 0 -2035px;
}

.airlineslogo-WH {
    background-position: 0 -2102px;
}

.airlineslogo-XO {
    background-position: 0 -2164px;
}

.airlineslogo-OQ {
    background-position: 0 -2222px;
}

.airlineslogo-9C {
    background-position: 0 -2279px;
}

.airlineslogo-GJ {
    background-position: 0 -2350px;
}

.airlineslogo-DZ {
    background-position: 0 -2435px;
}

.airlineslogo-YI {
    background-position: 0 -2510px;
}

.airlineslogo-QW {
    background-position: 0 -2549px;
}

.airlineslogo-DR {
    background-position: 0 -2601px;
}

.airlineslogo-UQ {
    background-position: 0 -2735px;
}

.airlineslogo-FU {
    background-position: 0 -2839px;
}

.airlineslogo-KY {
    background-position: 0 -3065px;
}

.airlineslogo-AQ {
    background-position: 0 -3202px;
}

.airlineslogofull {
    display: inline-block;
    width: 95px;
    height: 25px;
    font-size: 0;
    background: url(../img/airlineslogofull.png) no-repeat 0 -1000px;
}

.airlineslogofull-BK {
    background-position: 0 0;
}

.airlineslogofull-NS {
    background-position: 0 -35px;
}

.airlineslogofull-HO {
    background-position: 0 -70px;
}

.airlineslogofull-CZ {
    background-position: 0 -105px;
}

.airlineslogofull-MU {
    background-position: 0 -140px;
}

.airlineslogofull-SC {
    background-position: 0 -176px;
}

.airlineslogofull-ZH {
    background-position: 0 -212px;
}

.airlineslogofull-JD {
    background-position: 0 -248px;
}

.airlineslogofull-GS {
    background-position: 0 -282px;
}

.airlineslogofull-PN {
    background-position: 0 -318px;
}

.airlineslogofull-8L {
    background-position: 0 -355px;
}

.airlineslogofull-JR {
    background-position: 0 -390px;
}

.airlineslogofull-HU, .airlineslogofull-CN {
    background-position: 0 -425px;
}

.airlineslogofull-CA {
    background-position: 0 -460px;
}

.airlineslogofull-3U {
    background-position: 0 -497px;
}

.airlineslogofull-GJ {
    background-position: 0 -540px;
}

.airlineslogofull-DZ {
    background-position: 0 -590px;
}

.airlineslogofull-YI {
    background-position: 0 -624px;
}

.airlineslogofull-QW {
    background-position: 0 -659px;
}

.airlineslogofull-DR {
    background-position: 0 -695px;
}

.airlineslogofull-HX {
    background-position: 0 -726px;
}

.airlineslogofull-MF {
    background-position: 0 -762px;
}

.airlineslogofull-9C {
    background-position: 0 -805px;
}

.airlineslogofull-AK {
    background-position: 0 -841px;
}

.airlineslogofull-CX {
    background-position: 0 -867px;
}

.airlineslogofull-KY {
    background-position: 0 -939px;
}

.airlineslogofull-AQ {
    background-position: 0 -1047px;
}
